.mid {
  border-right: 12em solid transparent;
  border-left: 12em solid transparent;
}

.mid__secao1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  margin-top: 3rem;
  margin-bottom: 5em;
}

.imagempatmos {
  width: 18rem;
}

.mid__secao1__div1 {
  align-items: center;
  justify-content: center;
}

.mid__secao1__div1__titulo {
  font-family: var(--font-titulo);
  color: black;
}

.patmos {
  color: white;
}

.mid__secao1__div1__paragrafo {
  font-family: var(--font-titulo);
  color: white;
}

.mid__secao2__div1{

  display: flex;
  align-items: center;
  flex-direction: column;
}

.mid__secao2__div1__titulo{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  background-color: transparent;
  color: white;
  font-family: var(--font-titulo);
  border: 1px solid white;
  padding: 1em;
  font-size: 1.5rem;
}

.apocalipse{

  color: black;
  font-family: var(--font-titulo);

}

.membros__titulo{

  font-family: var(--font-titulo);
  color: black;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.card {
  background: transparent;
  
}

.card-body{

  background: transparent;
}

.list-group, .list-group-item{

  background: transparent;
}

.card-body-bottom {
  display: flex;
  gap: 1em;
  border: 1px solid white;
}

.card__botao {
  padding: 0;
  padding: 0.2em;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.card-body-top{

    border: 1px solid white;
    border-bottom: none;
}

.card-img-top{

    border: 1px solid white;
    border-bottom: none;
    height: 10em;
}

.card-title{

  font-family: var(--font-header);
  font-size: 14px;
  color: black;
}

.card-title-body{

  color: white;
  font-size: 18px;
}

.card-body-top{
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.projetos{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
}





