.mid {
  border-right: 12em solid transparent;
  border-left: 12em solid transparent;
}

.mid__secao1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  margin-top: 3rem;
  margin-bottom: 5em;
}

.imagempatmos {
  width: 18rem;
}

.mid__secao1__div1 {
  align-items: center;
  justify-content: center;
}

.mid__secao1__div1__titulo {
  font-family: var(--font-titulo);
  color: black;
}

.patmos {
  color: white;
}

.mid__secao1__div1__paragrafo {
  font-family: var(--font-titulo);
  color: white;
}

.mid__secao2__div1{

  display: flex;
  align-items: center;
  flex-direction: column;
}

.mid__secao2__div1__titulo{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  background-color: transparent;
  color: white;
  font-family: var(--font-titulo);
  border: 1px solid white;
  padding: 1em;
  font-size: 1.5rem;
}

.apocalipse{

  color: black;
  font-family: var(--font-titulo);

}




